@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <div class="card-header">Usuario</div>
            <div class="card-body">

                <button class="btn btn-success" id="btnNuevo">Nuevo Usuario</button>

                <hr />

                <table class="table table-striped" id="tbUsuario">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Sexo</th>
                            <th>Fecha Nacimiento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <!--Fin tarjeta-->

    </div>
</div>



<!--Inicio Modal-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdUsuario" value="0" />
                <div class="mb-2">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" />
                </div>
                <div class="mb-2">
                    <label>Sexo</label>
                    <select class="form-select" id="ddlSexo">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label>Fecha Nacimiento</label>
                    <input type="text" class="form-control" id="txtFechaNacimiento" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal-->
@section Scripts {

    <script>
        const Modelo_base = {
            Id: 0,
            Nombre: "",
            Sexo: "",
            FechaNacimiento: ""
        };

        $(document).ready(() => {
            listaContactos();
        });

        function mostrarModal(modelo) {
            $("#txtIdUsuario").val(modelo.Id);
            $("#txtNombre").val(modelo.Nombre);
            $("#ddlSexo").val(modelo.Sexo);
            $("#txtFechaNacimiento").val(modelo.FechaNacimiento);

            $('.modal').modal('show');
        }

        $("#btnNuevo").click(() => {
            mostrarModal(Modelo_base);
        });

        $("#btnGuardar").click(() => {
            let NuevoModelo = Modelo_base;
            NuevoModelo["Id"] = $("#txtIdUsuario").val();
            NuevoModelo["Nombre"] = $("#txtNombre").val();
            NuevoModelo["Sexo"] = $("#ddlSexo").val();
            NuevoModelo["FechaNacimiento"] = $("#txtFechaNacimiento").val();

            const url = NuevoModelo["Id"] == "0" ? "Home/Insertar" : "Home/Actualizar";

            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(NuevoModelo)
            })
                .then(response => response.ok ? response.json() : Promise.reject(response))
                .then(dataJson => {
                    if (dataJson.valor) {
                        alert(NuevoModelo["idContacto"] == "0" ? "Registrado" : "Editado");
                        $('.modal').modal('hide');
                        listaContactos();
                    }
                });
        });

        function listaContactos() {
            fetch("Home/Lista")
                .then(response => response.ok ? response.json() : Promise.reject(response))
                .then(dataJson => {
                    $("#tbUsuario tbody").html("");

                    dataJson.forEach(item => {
                        $("#tbUsuario tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.nombre),
                                $("<td>").text(item.sexo),
                                $("<td>").text(item.fechaNacimiento),
                                $("<td>").append(
                                    $("<button>").addClass("btn btn-primary btn-sm me-2 btn-editar").data("modelo", item).text("Editar"),
                                    $("<button>").addClass("btn btn-danger btn-sm btn-eliminar").data("id", item.idContacto).text("Eliminar")
                                )
                            )
                        );
                    }); tbUsuario
                });
        }

        $("#tbUsuario tbody").on("click", ".btn-editar", function () {
            let contacto = $(this).data("modelo");
            mostrarModal(contacto);
        });

        $("#tbUsuario tbody").on("click", ".btn-eliminar", function () {
            let idcontacto = $(this).data("id");
            let resultado = window.confirm("¿Desea eliminar el Usuario?");

            if (resultado) {
                fetch("Home/Eliminar?id=" + idcontacto, {
                    method: "DELETE"
                })
                    .then(response => response.ok ? response.json() : Promise.reject(response))
                    .then(dataJson => {
                        if (dataJson.valor) {
                            listaContactos();
                        }
                    });
            }
        });
    </script>

}